<div class="container">
    <h1>Editing Quote</h1>

    <%= render 'form', quote: @quote %>

    <%= link_to 'Show current Quote', @quote,class:" btn btn-default" %> 
    <%= link_to 'Your list of Quotes', quotes_path ,class:" btn btn-primary" %>
</div>
<br>
<br>
<br>
<br>
<br>
