<div class="container">

<h1>New Quote</h1>

<%= render 'form', quote: @quote,class:"btn btn-primary" %>

<%= link_to 'Your list of Quotes', quotes_path,class:"btn btn-primary" %>
<br>
<br>
<br>
<br>
</div>