<div class="container">
<br>
<h1>Editing Elevator</h1>

<%= render 'form', elevator: @elevator %>

<%= link_to 'Show', @elevator,class: "btn btn-primary text-light" %>  
<%= link_to 'Back', elevators_path,class: "btn btn-secondary text-light" %>
</div>
<br>