<div class = container>

    <h1>Editing Lead</h1>

    <%= render 'form', lead: @lead %>

    <%= link_to 'Show', @lead,class:"btn btn-secondary" %> 
    <%= link_to 'Back', leads_path,class:"btn btn-secondary" %>
</div>
