<div class = container>
    <h1>Editing Address</h1>

    <%= render 'form', address: @address %>

    <%= link_to 'Show', @address,class:"btn btn-secondary" %> 
    <%= link_to 'Back', addresses_path,class:"btn btn-secondary" %>
</div>
