<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
							</p>
							<h2>(418) 555-1234</h2>
						</div>
						<!-- /col #1 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href='#top'>Back to top</a></li>
							<li>&bull;</li>
						&copy; All Rights Reserved, Rocket Elevators
						</ul>
						<ul class="float-left m-0 list-inline mobileblock">
						<%= link_to "BackOffice","/admin" %>
						<br>
						<%= link_to "Speech-To-Text","/speak"%>					
					</div>
				</div>
				
			</footer>
			<!-- /FOOTER -->