<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> Why Rocket Elevators?</h6>
						<p>Rocket Elevators are the safest and fastest way to move vertically, its almost as good as teleportation, altough cooler! </p>
					</div>

					<div class="col-md-4">
						<h6><i class="fa-facheck"></i> RECENTLY VISITED</h6>
						<ul class="list-unstyled">
							<li><a href="residential.html"><i class="fa fa-angle-right"></i> Ultimate Shed Package</a></li>
							<li><a href="#news"><i class="fa fa-angle-right"></i> Cable Elevators VS Rocket Elevators</a></li>
							<li><a href="#contact"><i class="fa fa-angle-right"></i> Contact Us</a></li>
							<li><a href="residential.html"><i class="fa fa-angle-right"></i> Regular Home Packages</a></li>
							<li><a href="#services"><i class="fa fa-angle-right"></i> Our Packages</a></li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 418-725 Boulevard Lebourgneuf, <br />  Québec, QC G2J 0C4, Canada							</li>
							<li><b>Phone:</b> 1-418-555-1234</li>
							<li><b>Email:</b> <a href="mailto:support@yourname.com">info@codeboxx.biz</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" ><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->